body {
    position  : absolute;
    width     : 100%;
    height    : 100%;
    min-height: 40rem;
}

.background {
    width     : 100%;
    height    : 100%;
    background: radial-gradient(ellipse at top, rgb(67, 76, 100), rgb(48, 49, 51)), radial-gradient(ellipse at bottom, rgb(89, 69, 89), rgb(107, 139, 174));
}

article {
    width          : 25rem;
    height         : 100%;
    min-height     : 40rem;
    background     : linear-gradient(45deg, rgb(86, 84, 83), rgb(86, 84, 103));
    box-shadow     : inset 0 0 1.4rem rgb(56, 56, 58);
    margin         : 0 auto;
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-direction : column;
}

.shiny-button {
    margin       : 3rem auto;
    padding      : 1.3rem 2rem 1.5rem 2rem;
    position     : relative;
    font-size    : 2.5rem;
    z-index      : 1;
    border-radius: 0.8rem;
    overflow     : hidden;
    box-shadow   : 0rem 0.25rem 0.25rem rgb(45, 50, 58);
    cursor       : pointer;
    transition   : all 200ms ease;
}

.shiny-button:active {
    transform : translateY(0.3rem);
    box-shadow: 0rem 0.1rem 0rem rgb(45, 50, 58);
}

.shiny-button p {
    margin     : 0;
    text-shadow: 0 0.2rem 0.2rem rgb(200, 222, 237);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

canvas {
    position: absolute;
    width   : 100%;
    height  : 100%;
    top     : 0;
    left    : 0;
    z-index : -1;
}